#main-container {
    position: absolute;
    height: 100%;
    width: 100%;

    #main-content {
        // position: absolute;
        display: flex;
    }
}
nav {
    ul {
        padding: 10px;
        list-style: none;
        
    }
}
.mat-toolbar{
    width: 100%;
}