<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary">
    <button class="hamburger hamburger--collapse" [ngClass]="{'is-active': sidenavOpen}" type="button" (click)="toggleSidenav()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    <span id="toolbar-title">{{title}}</span>
    <span fxFlex></span>
    <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container id="main-container">
    <mat-sidenav mode="side" [(opened)]="sidenavOpen">
      <nav>
        <ul>
          <li><button mat-button routerLink="/actions">Standard Actions</button></li>
          <li><button mat-button routerLink="/move-actions">Move Actions</button></li>
          <li><button mat-button routerLink="/swift-actions">Swift Actions</button></li>
          <li><button mat-button routerLink="/full-actions">Full Actions</button></li>
          <li><button mat-button routerLink="/other-actions">Other Actions</button></li>
          <mat-divider></mat-divider>
          <li><button mat-button routerLink="/conditions">Conditions</button></li>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content id="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
</div>

