<mat-toolbar>{{title}}</mat-toolbar>
<mat-sidenav-container id="main-container">
  <mat-sidenav mode="side" opened>
    <nav>
      <ul>
        <li><button mat-button routerLink="/actions">Standard Actions</button></li>
        <li><button mat-button routerLink="/move-actions">Move Actions</button></li>
        <li><button mat-button routerLink="/swift-actions">Swift Actions</button></li>
        <li><button mat-button routerLink="/full-actions">Full Actions</button></li>
        <li><button mat-button routerLink="/other-actions">Other Actions</button></li>
        <mat-divider></mat-divider>
        <li><button mat-button routerLink="/conditions">Conditions</button></li>
      </ul>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content id="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

