/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#rule-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
    padding: 1rem;
    background-color: lightblue;
}

.rule-card {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 5px;
    background-color: rgb(204, 233, 242); 
    min-height: 100px;
}
